#glow {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, #5bc5f2, #aa7dea, #ed4fa2);
    animation: rotate 20s infinite;
    opacity: 1;
    
  }
  
  #blur {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    backdrop-filter: blur(12vmax);
  }

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}
