.blob {
  position: absolute;
  display: grid;
  place-items: center;
  z-index: 2;

  border-radius: 30% 70% 53% 47% / 26% 46% 54% 74%;

  content: "";

  &.blob-pink {
    background: radial-gradient(circle at 0% 0%, #ed4fa2, slateblue);
    box-shadow: 0 -2vmin 4vmin LightPink inset, 0 1vmin 4vmin #aa7dea inset,
      0 -2vmin 7vmin purple inset;

    animation: anim-pink 30s infinite;

    z-index: 2;

    @keyframes anim-pink {
      0%,
      100% {
        border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
        box-shadow: 0 -2vmin 4vmin LightPink inset, 0 -4vmin 4vmin #aa7dea inset,
          0 -2vmin 7vmin purple inset;
      }

      10% {
        border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
      }

      20% {
        border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
      }

      30% {
        border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
        box-shadow: 0 -4vmin 8vmin #ed4fa2 inset,
          -1vmin -2vmin 6vmin LightPink inset, -1vmin -2vmin 4vmin #aa7dea inset,
          1vmin 4vmin 8vmin purple inset;
      }

      40% {
        border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
      }

      50% {
        border-radius: 100%;
        box-shadow: 0 4vmin 16vmin #ed4fa2 inset, 0 2vmin 5vmin LightPink inset,
          0 4vmin 4vmin #aa7dea inset, 0 6vmin 8vmin purple inset;
      }

      60% {
        border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
      }

      70% {
        border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
        box-shadow: 1vmin 1vmin 8vmin LightPink inset,
          2vmin -1vmin 4vmin #aa7dea inset, -1vmin -1vmin 16vmin purple inset;
      }

      80% {
        border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
      }

      90% {
        border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
      }
    }
  }

  &.blob-blue {
    background: radial-gradient(circle at 0% 0%, #5bc5f2, slateblue);
    box-shadow: 0 -2vmin 4vmin #ceeefb inset, 0 1vmin 4vmin #aa7dea inset,
      0 -2vmin 7vmin #244f61 inset;

    animation: anim-blue 30s infinite;

    z-index: 3;

    @keyframes anim-blue {
      0%,
      100% {
        border-radius: 100%;
        box-shadow: 0 4vmin 16vmin #5bc5f2 inset, 0 2vmin 5vmin #ceeefb inset,
          0 4vmin 4vmin #aa7dea inset, 0 6vmin 8vmin #244f61 inset;
      }

      10% {
        border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
      }

      20% {
        border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
        box-shadow: 1vmin 1vmin 8vmin #ceeefb inset,
          2vmin -1vmin 4vmin #aa7dea inset, -1vmin -1vmin 16vmin #244f61 inset;
      }

      30% {
        border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
      }

      40% {
        border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
      }

      50% {
        border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
        box-shadow: 0 -2vmin 4vmin #ceeefb inset, 0 -4vmin 4vmin #aa7dea inset,
          0 -2vmin 7vmin #244f61 inset;
      }

      60% {
        border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
      }

      70% {
        border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
      }

      80% {
        border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
        box-shadow: 0 -4vmin 8vmin #5bc5f2 inset,
          -1vmin -2vmin 6vmin #ceeefb inset, -1vmin -2vmin 4vmin #aa7dea inset,
          1vmin 4vmin 8vmin #244f61 inset;
      }

      90% {
        border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
      }
    }
  }

  &.blob-purple {
    background: radial-gradient(circle at 0% 0%, #aa7dea, #8864bb);
    box-shadow: 0 -2vmin 4vmin #ceeefb inset, 0 1vmin 4vmin #be3f82 inset,
      0 -2vmin 7vmin #22192f inset;

    animation: anim-purple 60s infinite;

    z-index: 4;

    @keyframes anim-purple {
      0%,
      100% {
        border-radius: 100%;
        box-shadow: 0 4vmin 16vmin #aa7dea inset, 0 2vmin 5vmin #ceeefb inset,
          0 4vmin 4vmin #8864bb inset, 0 6vmin 8vmin #22192f inset;
      }

      10% {
        border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
      }

      20% {
        border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
        box-shadow: 1vmin 1vmin 8vmin #ceeefb inset,
          2vmin -1vmin 4vmin #8864bb inset, -1vmin -1vmin 16vmin #22192f inset;
      }

      30% {
        border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
      }

      40% {
        border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
      }

      50% {
        border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
        box-shadow: 0 -2vmin 4vmin #ceeefb inset, 0 -4vmin 4vmin #8864bb inset,
          0 -2vmin 7vmin #22192f inset;
      }

      60% {
        border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
      }

      70% {
        border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
      }

      80% {
        border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
        box-shadow: 0 -4vmin 8vmin #aa7dea inset,
          -1vmin -2vmin 6vmin #ceeefb inset, -1vmin -2vmin 4vmin #8864bb inset,
          1vmin 4vmin 8vmin #22192f inset;
      }

      90% {
        border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
      }
    }
  }
}
