$colors: (
  "aurora": "#ed4fa2",
  "auroraDark10": "#d54792",
  "auroraDark20": "#be3f82",
  "auroraDark30": "#a63771",
  "auroraDark40": "#8e2f61",
  "auroraDark50": "#772851",
  "auroraDark60": "#5f2041",
  "auroraDark70": "#471831",
  "auroraDark80": "#2f1020",
  "auroraDark90": "#180810",
  "auroraLight10": "#ef61ab",
  "auroraLight20": "#f172b5",
  "auroraLight30": "#f284be",
  "auroraLight40": "#f495c7",
  "auroraLight50": "#f6a7d1",
  "auroraLight60": "#f8b9da",
  "auroraLight70": "#facae3",
  "auroraLight80": "#fbdcec",
  "auroraLight90": "#fdedf6",

  "lavender": "#aa7dea",
  "lavenderDark10": "#9971d3",
  "lavenderDark20": "#8864bb",
  "lavenderDark30": "#7758a4",
  "lavenderDark40": "#664b8c",
  "lavenderDark50": "#553f75",
  "lavenderDark60": "#44325e",
  "lavenderDark70": "#332546",
  "lavenderDark80": "#22192f",
  "lavenderDark90": "#110c17",
  "lavenderLight10": "#b38aec",
  "lavenderLight20": "#bb97ee",
  "lavenderLight30": "#c4a4f0",
  "lavenderLight40": "#ccb1f2",
  "lavenderLight50": "#d5bef5",
  "lavenderLight60": "#ddcbf7",
  "lavenderLight70": "#e6d8f9",
  "lavenderLight80": "#eee5fb",
  "lavenderLight90": "#f7f2fd",

  "sky": "#5bc5f2",
  "skyDark10": "#52b1da",
  "skyDark20": "#499ec2",
  "skyDark30": "#408aa9",
  "skyDark40": "#377691",
  "skyDark50": "#2e6379",
  "skyDark60": "#244f61",
  "skyDark70": "#1b3b49",
  "skyDark80": "#122730",
  "skyDark90": "#091418",
  "skyLight10": "#6bcbf3",
  "skyLight20": "#7cd1f5",
  "skyLight30": "#8cd6f6",
  "skyLight40": "#9ddcf7",
  "skyLight50": "#ade2f9",
  "skyLight60": "#bde8fa",
  "skyLight70": "#ceeefb",
  "skyLight80": "#def3fc",
  "skyLight90": "#eff9fe",
);

:export {
  @each $name, $color in $colors {
    #{$name}: $color;
  }
}
