@use "./animations.scss";

@import "./colors.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");

body {
  background: linear-gradient(45deg, black, #180810);
  margin: 0rem;
}

nav {
  .nextui-navbar-container {
    background: transparent;
  }
}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

h1,
h2 {
  color: white;
  font-weight: 800;
}

.header {
  position: relative;
  height: 100vh;
}

.subtitle {
  height: 100%;

  p {
    position: absolute;
    bottom: 20%;
    left: 10%;
    max-width: 50%;

    text-align: left;
  }
}

.section {
  position: relative;
  height: 100vh;
  padding: 0 10%;
}
